/* --- Styles pour la page "À propos" --- */
.text-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.text-container p {
    color: #ffffff;
    line-height: 1.6;
}

.container h1 {
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
}